.popup__error_visible {
  display: inline;
  color: #FF0000;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

@media screen and (min-width: 300px) {
  .popup__error_visible {
    width: 238px;
  }
}

@media screen and (min-width: 960px) {
  .popup__error_visible {
    width: 358px;
  }
}