.card__trash {
  width: 18px;
  height: 19.3px;
  background-image: url("../../../images/delete-button.svg");
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
  outline-width: 0;
}

.card__trash:hover {
  opacity: .6;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.card__trash:focus {
  outline: none;
}