.profile__name {
  color: white;
  font-style: normal;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  text-overflow: ellipsis;
}

.profile__name:hover {
  cursor: default;
}

@media screen and (min-width: 300px) {
  .profile__name {
    font-size: 27px;
    line-height: 2.07;
    text-align: left;
  }
}

@media screen and (min-width: 960px) {
  .profile__name {
    font-size: 42px;
    line-height: 1.33;
  }
}