.card__like-counter {
  width: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: black;
  margin-top: 3px;
  margin-bottom: 24px;
}